:root {
	--color-primary: #007F8E;
	--color-primary2: #17253f;
	--color-primary3: #005070;
	--color-secondary: #B08C19;
	--color-text: black;
    --color-text-small: #565656;
}

body, html {
	width: 100%;
	height: 100%;
}

body,
p, span {
	color: var(--color-text-small);
	font-family: 'Epilogue', sans-serif;
}

h1 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 2.2em;
	line-height: 3.25rem;
	letter-spacing: -0.4px;

}

h2 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
}

h3 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -0.2px;
}

h5 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h6 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
}

.p-large {
    color: var(--color-text);
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
    color: var(--color-text);
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.li-space-lg li {
    color: var(--color-text);
	margin-bottom: .5rem
}

a {
	color: #5e6576;
	text-decoration: underline
}

a:hover {
	color: #5e6576;
	text-decoration: underline
}

.social-black {
    color: black;
}

.icon-bar {
	position: fixed;
	top: 50%;
	left: 5px;
	z-index: 100;
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	font-size: 20px;
}

.go-back {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.article {
    margin-top: 50px;
}

.article strong {
    color: black
}

.article-header {
    display: grid;
    grid-template-columns: 50% 50%;
}

.vertical-algin {
    padding: 0 10% 0 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-info p:last-child {
    margin-top: 25px;
}

.article-image {
    width: 100%;
    height: 600px;
    overflow:hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article-image img {
    height: 100%;
    min-width: 100%;
}

.article-body {
    padding: 75px 0;
    width: 600px;
    margin: auto;
}

.article-body p {
    margin-top: 20px;
}

.article-body img {
    margin: 25px 0 5px 0;
}

.article-body span {
    font-style: italic;
}

.article-body h2 {
    margin-top: 25px;
}

.back-to-home {
    text-align: center;
    margin-top: 50px;
}

.article-body ul {
    list-style: none;
    position: relative;
    padding: 8px 0 2px 15px;
    display: block;
    color: black;
    font-size: 15px;
}

.article-body ul::before {
    content: '-';
    position: absolute;
    top: 6px;
    left: 0;
}

.article-files {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    /* Add spacing between the items */
    justify-content: space-between;
    gap: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

@media (max-width:1000px) {
    .article-header {
        display: grid;
        grid-template-columns: 100%;
    }

    .article {
        margin-top: 0px;
    }

    .article-image {
        grid-row: 1;
    }

    .article-image {
        height: 450px;
    }

    .article-info {
        margin-top: 30px;
    }

	.icon-bar {
		display: none !important;
	}
}

@media (min-width: 1800px) {
    .vertical-algin {
        padding: 0 10% 0 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article p {
        font-size: 18px;
        line-height: 1.5rem;
    }

    .article h1 {
        font-size: 50px;
        line-height: 3.25rem;
    }

    .article h2 {
        font-size: 40px;
        line-height: 2.625rem;
    }

    .article a {
        font-size: 20px;
    }

    .article span {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    body {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media (max-width: 700px) {
    .article-body {
        width: 100%;
        margin: 0;
        padding: 0 5% 75px 5%;
    }

    .article-image {
        height: 300px;
    }

    .article-info {
        padding-bottom: 50px;
    }
}

@media (max-width: 600px) {
    .vertical-algin {
        padding: 0 5% 0 5%;
    }
}
