@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

/* 
TODO: If the content reaches over 1080p set a width zoom out to 25%
*/

:root {
	--color-primary: #0D0E0E;
    --color-primary2: #171e37;
	--color-primary3: #131522;
	--color-text: white;
}

body,
html {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, #07070b, #131522, #171e37, #18284f, #143367);
	overflow-x: hidden;
}

body,
p {
	color: var(--color-text);
	font-family: 'IBM Plex Mono', monospace;
}

h1 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: -0.4px;
}

h2 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
}

h3 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -0.2px;
}

h5 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h6 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
}

.p-large {
    color: var(--color-text);
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
    color: var(--color-text);
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.li-space-lg li {
    color: var(--color-text);
	margin-bottom: .5rem
}

a {
	color: #5e6576;
	text-decoration: underline
}

a:hover {
	color: #5e6576;
	text-decoration: underline
}

/*
Type writer intro effect and stars glow effect
*/
.intro-text{
	position: relative;
    width: 9.5em;
    margin: 300px auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 300%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    height: 1.2em; 
	font-family: 'Playfair Display', serif;
}

.anim-typewriter{
    animation: typewriter 2s steps(45) 0.5s 1 normal both, blinkTextCursor 700ms steps(45) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 9.4em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: var(--color-text)}
  to{border-right-color: transparent;}
}

@keyframes glow {
	to {
	  opacity: 0;
	}
  }

/*
Intro Text
*/
.experience {
    background-color: var(--color-primary2);
	position: relative;
	margin-top: -70px;
}

.education {
    background-color: var(--color-primary2);
    margin-top: 20%;
	position: relative;
}

.timeline-title {
	padding: 5% 0 0 10%;
}

.timeline {
	margin: 40px 0 0 -15%; 
	max-width: 90%;
	display: grid;
	grid-template-columns: 1fr 2px 1fr;
	color: #094a68;
}

.timeline-component {
  margin: 0 50px 40px 50px;
}

.timeline-component--bottom {
  margin-bottom: 0;
}

.timeline-point:hover:before {
	background-color: #0f0;
	box-shadow: 0 0 10px 2px #0f0
}

.timeline-middle {
	position: relative;
	background: #094a68;
}

.timeline-point:before {
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	background-color: #90A6BB;
	border-radius: 50%;
	left: -9px;
	transition: .5s
}

.timeline-point--bottom {
  top: initial;
  bottom: 0;
}

.timeline-date--right {
  text-align: right;
  color: #106fb4;
}

.timeline__paragraph {
  line-height: 1.5;
}

.timeline-date {
  color: #106fb4;
}

.timeline h6 {
	font-size: 17px;
}

.p-small {
	font-size: 15px;
	color: #90A6BB;
}

.p-medium {
	font-size: 17px;
	color: #90A6BB;
}

.timeline-component a {
	text-decoration: none;
	font-size: 15px;
	margin: 0 15px;
	position: relative;
	color: #6b9bc9;
}

.timeline-component a:before {
	position: absolute;
	margin: 0 auto;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #6b9bc9;;
	content: '';
	opacity: .3;
	-webkit-transform: scaleX(.9);
	transition-property: opacity, -webkit-transform;
	transition-duration: .3s;
}

.timeline-component a:hover:before {
	opacity: 1;
	-webkit-transform: scaleX(1);
}

.fa-link {
	color: #6b9bc9;
}

/*
Certification
*/

.certifications {
	background-color: var(--color-primary2);
	position: relative;
}

.section-title {
	padding: 5% 0 0 10%;
}

.button-section {
	padding: 40px 40px 0px 40px;
	margin-bottom: -17px;
}

.certification-button {
	background-color: #172041;
	border: none;
	color: white;
	width: 710px;
	height: 100px;
	display: inline-block;
	cursor: pointer;
	text-align: left;
}

.certification-button h5 {
	font-size: 17px;
}

.certification-button p {
	font-size: 16px;
	margin-top: -5px;
}

.certification-button img {
	width: 50px;
	height: 50px;
	float: left;
	margin: 10px 30px 10px 20px;
}

.button-left {
	float: right;
}

.button-right {
	float: left;
}

.certification-text {
	margin-top: 9px;
}

/*
Recommendations
*/
.recommendations {
	background-color: var(--color-primary2);
	padding: 100px;
}

.recommendation-card {
	border: 1px solid #90A6BB;
	width: 60%;
  	padding: 10px;
	border-radius: 10px;
	background-color: #081f27;
}

.recommendation-card img {
	border-radius: 50%;
	width: 70px;
	float: left;
	padding: 5px;
}

.recommendation-card h5 {
	font-size: 20px;
	margin-left: 18%;
	margin-top: 15px;
}

.recommendation-profession {
	font-size: 12px;
	margin-left: 18%;
	color: #90A6BB;
}

.recommendation-text {
	margin-top: 20px;
	font-size: 13px;
	font-style: italic;
}

.card-right {
	float: right;
}

.card-left {
	float: left;
}

.recommendation-card span {
	content: "\201D";
	float: right;
	font-size: 100px;
	margin-top: -25px;
}

@media (max-width:1550px) {
	.certification-button {
		width: 600px;
	}
}

@media (max-width:1330px) {
	.timeline {
		margin-left: -3%;
	}

	.certification-button {
		width: 500px;
	}
}

@media (max-width:1130px) {
	.certification-button {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

@media (max-width:1000px) {
	.timeline {
		margin-left: 0%;
	}
	.timeline-title {
		padding-top: 50px;
	}

	.certification-button {
		width: 600px;
		margin-top: 20px;
	}
}

@media (max-width:800px) {
	.timeline-middle {
		visibility: hidden;
	}
	
	.timeline-point {
		visibility: hidden;
	}

	.timeline-component {
		margin: 0;
	}

	.timeline {
		display: block;
		padding: 5% 5% 0 15%;
	}

	.timeline-date--right {
		text-align: left;
	}

	.timeline-title {
		margin-bottom: -18%;
	}

	.timeline-date {
		margin-top: 80px;
	}

	.certification-button {
		width: 500px;
	}
}

@media (max-width:590px) {
	.certification-button {
		width: 400px;
	}
}

@media (max-width:500px) {
	.intro-text{
		font-size: 200%;
		height: 1.4em; 
	}

	.section-title {
		padding: 0;
		text-align: center;
	}

	.certification-button h5 {
		font-size: 15px;
		line-height: 1.5;
	}

	.certification-button {
		width: 340px;
		height: 120px;
	}

	.button-section {
		padding: 0px;
	}

	.certification-button img {
		margin-top: 25px;
	}
}
