@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

:root {
	--color-primary: #0D0E0E;
    --color-primary2: #0A1A2B;
	--color-text: white;
}

body,
html {
	width: 100%;
	height: 100%;
    background: var(--color-primary);
}

body,
p {
	color: var(--color-text);
	font-family: 'Playfair Display', serif;
}

h1 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: -0.4px;
}

h2 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
}

h3 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -0.2px;
}

h5 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h6 {
	color: var(--color-text);
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
}

.p-large {
    color: var(--color-text);
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
    color: var(--color-text);
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.li-space-lg li {
    color: var(--color-text);
	margin-bottom: .5rem
}

a {
	color: #5e6576;
	text-decoration: underline
}

a:hover {
	color: #5e6576;
	text-decoration: underline
}

/*
Type writer intro effect
*/
.intro {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.intro-text{
    width: 9.5em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 300%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    height: 1.2em; 
}

.anim-typewriter{
    animation: typewriter 2s steps(45) 0.5s 1 normal both, blinkTextCursor 700ms steps(45) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 9.4em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: var(--color-text)}
  to{border-right-color: transparent;}
}

/*
Intro Text
*/
.experience {
    background-color: var(--color-primary2);
}

.education {
    background-color: var(--color-primary2);
    margin-top: 750px;
}

.timeline-title {
	padding: 10px;
	margin-left: 15%; 
}

.timeline {
	margin: 40px 0 0 -15%; 
	max-width: 90%;
	display: grid;
	grid-template-columns: 1fr 2px 1fr;
	color: #094a68;
}

.timeline-component {
  margin: 0 50px 40px 50px;
}

.timeline-component--bottom {
  margin-bottom: 0;
}

.timeline-middle {
  position: relative;
  background: #094a68;
}

.timeline-point:hover:before {
	background-color: #0f0;
	box-shadow: 0 0 10px 2px #0f0
}

.timeline-point:before {
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	background-color: #90A6BB;
	border-radius: 50%;
	left: -9px;
	transition: .5s
}

.timeline-point--bottom {
  top: initial;
  bottom: 0;
}

.timeline-date--right {
  text-align: right;
  color: #106fb4;
}

.timeline__paragraph {
  line-height: 1.5;
}

.timeline-date {
  color: #106fb4;
}

.timeline h6 {
	font-size: 17px;
}

.p-small {
	font-size: 15px;
	color: #90A6BB;
}

.p-medium {
	font-size: 17px;
	color: #90A6BB;
}

@media (max-width:1100px) {
	.timeline {
		margin-left: -5%;
	}
}

@media (max-width:768px) {
	.timeline {
		margin-left: 0%;
	}
}
